.contact {
  display: flex;
  padding: 5px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  align-items: center;
}
.contact > p {
  padding-left: 10px;
}

.contact__online {
  margin-left: 5px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #00cc00;

}
