.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > div {
  display: flex;
  flex-direction: column;
}

.login__logo > img {
  object-fit: contain;
  height: 150px;
  padding: 20px;
}
.login__facebook > img {
  object-fit: contain;
  height: 40px;
}

.login > button {
  background-color: #2e81f4;
  color: white;
  width: 330px;
}

.login > button:hover {
  background-color: white;
  color: #2e81f4;
  width: 330px;
}
